{
    "source_dir": "./processed",
    "target_dir": "./results",
    "variables": {
        "policy": {
            "convergence": "out/policy/convergence.parquet",
            "cuts": "out/policy/cuts.parquet"
        },
        "simulation": {
            "operation_buses": "out/simulation/operation_buses.parquet",
            "operation_lines": "out/simulation/operation_lines.parquet",
            "operation_hydros": "out/simulation/operation_hydros.parquet",
            "operation_system": "out/simulation/operation_system.parquet",
            "operation_thermals": "out/simulation/operation_thermals.parquet"
        }
    }
}