{
    "source_dir": "./generated",
    "target_dir": "./processed",
    "entrypoints": {
        "sddp_policy_outer_sim": "/home/rogerio/git/sddp-lab-manager/assets/sddp_policy_outer_sim.jl",
        "sddp_policy_inner_sim": "/home/rogerio/git/sddp-lab-manager/assets/sddp_policy_inner_sim.jl",
        "dual_policy_inner_sim": "/home/rogerio/git/sddp-lab-manager/assets/dual_policy_inner_sim.jl",
        "reagan_policy_inner_sim": "/home/rogerio/git/sddp-lab-manager/assets/reagan_policy_inner_sim.jl"
    },
    "environment": "/home/rogerio/git/lab2mslbo",
    "image_name": "/home/rogerio/git/lab2mslbo/lab2mslbo.so",
    "processes": 2
}